.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block {
  padding: 12px;
  background: lightpink;
}

.block-info code {
  padding: 2px 4px;
  background: white;
  color: pink;
  border-radius: 4px;
}

.txs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.tx {
  border-radius: 8px;
  padding: 8px;
  background: darkslategrey;
  color: white;
}

.tx h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.receipt {
  margin-top: 8px;
  padding: 8px;
}

.receipt .content {
  font-size: 12px;
  white-space: pre;
  overflow-x: auto;
  background: lightseagreen;
  border-radius: 8px;
}

.receipt .content code {
  color: unset;
  background: unset;
}
