.blocks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block {
  padding: 12px;
  background: lightpink;
}

.block .title {
  font-size: 18px;
  font-weight: bold;
}

.block-info code {
  padding: 2px 4px;
  background: white;
  color: pink;
  border-radius: 4px;
}

.txs {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.tx {
  border-radius: 8px;
  padding: 8px;
  background: darkslategrey;
  color: white;
}

.tx h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

.receipt {
  margin-top: 8px;
  padding: 8px;
}

.receipt .content {
  font-size: 12px;
  white-space: pre;
  overflow-x: auto;
  background: lightseagreen;
  border-radius: 8px;
}

.receipt .content code {
  color: unset;
  background: unset;
}
